/*@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,600;1,400&family=Open+Sans:wght@400;500;700&family=Poppins:wght@400;500;700&family=Raleway&family=Roboto:wght@400;500;700&display=swap");*/

:root {
    --purple: #381272;
}

* {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    font-family: Montserrat, "Noto Sans Arabic", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
    color: rgb(51, 51, 51);
}

a {
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
}

/*
Font imports
============
*/

@font-face {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src:
        local(""),
        url(//assets-cdn.kahoot.it/controller/v2/assets/montserrat-v25-latin-500.woff2) format("woff2");
}

@font-face {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src:
        local(""),
        url(//assets-cdn.kahoot.it/controller/v2/assets/montserrat-v25-latin-700.woff2) format("woff2");
}

@font-face {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src:
        local(""),
        url(//assets-cdn.kahoot.it/controller/v2/assets/montserrat-v25-latin-900.woff2) format("woff2");
}
