/*@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,600;1,400&family=Open+Sans:wght@400;500;700&family=Poppins:wght@400;500;700&family=Raleway&family=Roboto:wght@400;500;700&display=swap");*/

:root {
    --purple: #381272;
    --green: #009900;
}

* {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    font-family: Montserrat, "Noto Sans Arabic", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
    color: rgb(51, 51, 51);
}

a {
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
}

.hidden {
    display: none;
}

/* Footer */
.footer {
    position: fixed;
    bottom: 0;
    width: 100vw;

    display: flex;
    flex-direction: column;
    align-items: center;

    color: white;
}

.footer span,
.footer div {
    margin-bottom: 10px;
    cursor: default;
}

.footer a {
    color: white;
}

/* Background */
.background {
    position: absolute;
    z-index: -1;
    width: 100vw;
    height: 100vh;
}

.bg1 {
    position: fixed;
    pointer-events: none;
    transform: rotate(45deg);
    opacity: 0.1;
}

.bg2 {
    position: fixed;
    pointer-events: none;
    opacity: 0.1;
}
