<div class="game">
    <div id="dealer-container" class="dealer player-container"></div>
    <div id="player-container" class="players player-container"></div>
    <div class="controls">
        <input
                type="number"
                class="bet-input betting-phase hide"
                id="bet-amount"
                placeholder="Bet Amount"
                min="1"
                max="100"
                step="1"
        >
        <button class="btn primary-btn betting-phase hide" id="bet-button">Bet</button>
        <button class="btn playing-phase hide" id="hit">Hit</button>
        <button class="btn playing-phase hide" id="stand">Stand</button>
        <span id="turn-msg-container" class="turn-bet-msg hide">
            Turn: <span id="turn-msg"></span>
        </span>
        <span id="bet-msg-container" class="turn-bet-msg hide">
            Bet placed: <span id="bet-msg"></span>
        </span>
    </div>
</div>
