<!doctype html>
<html lang="en">
    <head>
        <link rel="shortcut icon" type="image/x-icon" href="/public/images/favicon.ico" />
        <link rel="icon" type="image/x-icon" href="/public/images/favicon.ico" />
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="Play Chess (sponsored by Jonathan Werner)!" />
        <link rel="stylesheet" href="/public/style/global.css" />
        <link rel="stylesheet" href="/public/style/game/style.css" />
        <script src="/socket.io/socket.io.js" defer></script>
        <script src="/public/javascript/packages/axios.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/chess.js/0.10.2/chess.js" integrity="sha384-s3XgLpvmHyscVpijnseAmye819Ee3yaGa8NxstkJVyA6nuDFjt59u1QvuEl/mecz" crossorigin="anonymous" defer></script>

        <link rel="stylesheet"
              href="https://unpkg.com/@chrisoakman/chessboardjs@1.0.0/dist/chessboard-1.0.0.min.css"
              integrity="sha384-q94+BZtLrkL1/ohfjR8c6L+A6qzNH9R2hBLwyoAfu3i/WCvQjzL2RQJ3uNHDISdU"
              crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/@chrisoakman/chessboardjs@1.0.0/dist/chessboard-1.0.0.min.js"
                integrity="sha384-8Vi8VHwn3vjQ9eUHUxex3JSN/NFqUg3QbPyX8kWyb93+8AC/pPWTzj+nHtbC5bxD"
                crossorigin="anonymous" defer></script>

        <script src="/public/javascript/game/game.js" defer></script>
        <script src="/public/javascript/game/index.js" defer></script>

        <title>JW Chess</title>
    </head>
    <body>
        <div class="background">
            <img src="/public/images/bg1.svg" class="bg1" alt="Background image of a black knight" />
            <img src="/public/images/bg2.svg" class="bg2" alt="Background image of a black queen" />
        </div>
        <header>
            <span class="game-pin"> Game-PIN: <span id="game-pin">Loading...</span> </span>
        </header>
        <main class="main">
            <div class="player-name" id="player-name-up">Loading...</div>
            <div id="board" class="game"></div>
            <div class="player-name" id="player-name-down">Loading...</div>
            <div class="result hidden" id="results">
                Results loading...
            </div>
        </main>
        <footer class="footer">
            <div>
                sponsored by
                <a
                        href="https://www.hockey-trier.de/wp-content/uploads/JW.jpg"
                        target="_blank"
                        rel="noopener noreferrer"
                >Jonathan Werner</a
                >
            </div>
        </footer>
        <button id="leave" class="btn btn-red">Leave</button>
    </body>
</html>
