body {
    background-color: var(--purple);
    overflow: hidden;

    color: white;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main {
    flex-grow: 1;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Header */
header {
    width: 100%;
    margin: 20px 0 0 0;
}

.game-pin {
    font-size: 2rem;
    font-weight: 700;
    padding: 0 20px;
    user-select: none;
}

#game-pin {
    user-select: text;
}

.copy-button {
    cursor: pointer;
}

/* Game */
.game {
    width: 600px;
}

.player-name-wrapper {
}

.player-name {
    width: 600px;
    margin: 10px;
    color: #fff;
    font-size: 2.1rem;
    font-weight: 700;
    font-style: italic;
}

#player-name-up {
    text-align: end;
}

/* Result */
.result {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: 40px 60px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);

    text-align: center;
    color: rgb(51, 51, 51);
    font-size: 2.1rem;
    font-weight: 800;
    font-style: italic;
    user-select: none;
}

/* Footer */
.footer {
    bottom: 0;
    width: 100vw;

    display: flex;
    flex-direction: column;
    align-items: center;

    color: white;
}

.footer span,
.footer div {
    margin-bottom: 10px;
    cursor: default;
}

.footer a {
    color: white;
}

/* Background */
.background {
    position: absolute;
    z-index: -1;
    width: 100vw;
    height: 100vh;
}

.bg1 {
    position: fixed;
    pointer-events: none;
    transform: rotate(45deg);
    opacity: 0.1;
    bottom: -15vmin;
    left: -15vmin;
    min-width: 55vmin;
    min-height: 55vmin;
    height: 200px;
    width: 200px;
}

.bg2 {
    position: fixed;
    pointer-events: none;
    opacity: 0.1;
    min-width: 55vmin;
    min-height: 55vmin;
    top: -5vmin;
    right: -10vmin;
    height: 300px;
    width: 300px;
}

.btn {
    box-sizing: border-box;

    color: #53d78b;
    border-color: #53d78b;

    outline: none;
    text-decoration: none;

    background: transparent;
    border-style: solid;
    border-width: 0.1rem;
    border-bottom-width: 0.15rem;

    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 0.3rem;
    text-transform: uppercase;
    text-align: center;

    padding: 0 2rem;
    height: 5rem;
    margin-left: 0.5em;

    cursor: pointer;
}

.btn-red {
    position: absolute;
    right: 15px;
    bottom: 15px;

    background: #d54c4c;
    border-color: #d54c4c;
    border-bottom-color: #b63b3b;
    color: #fff;

    height: 3rem;
}
